openapi: 3.1.0
info:
  title: Polotno Studio API
  version: 1.0.0
  description: >-
    REST API for Polotno Studio — content automation platform.


    Renders images and videos from templates via the Polotno Cloud Render API.

    Designed for no-code automation (Zapier, Make, n8n) and direct API usage.


    **Billing:** subscription plan grants N credits per period (expire at period
    end).

    Topup packs add credits that never expire. Image render = 1 credit, video
    render = fps × duration.
  contact:
    name: API Support
    url: https://docs.studio.polotno.com
servers:
  - url: https://api.studio.polotno.com
    description: Production (use `key_live_...` keys)
security:
  - BearerAuth: []
  - ApiKeyHeader: []
tags:
  - name: Templates
  - name: Images
  - name: Videos
  - name: Bulk
  - name: Webhooks
  - name: Integration
    description: Endpoints used by Zapier/Make/n8n
components:
  schemas:
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - type
            - code
            - message
            - request_id
          properties:
            type:
              type: string
              description: Error category, e.g. "validation_error"
            code:
              type: string
              description: Machine-readable error code
            message:
              type: string
            param:
              type: string
              description: Field path that triggered the error
            request_id:
              type: string
    Health:
      type: object
      properties:
        status:
          type: string
          enum:
            - ok
        timestamp:
          type: string
        db:
          type: string
          enum:
            - ok
            - error
      required:
        - status
        - timestamp
        - db
    TemplateList:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              object:
                type: string
                enum:
                  - template
              project_id:
                type: string
              name:
                type: string
              description:
                type:
                  - string
                  - "null"
              polotno_json: {}
              width:
                type: number
              height:
                type: number
              has_video:
                type: boolean
              default_duration_seconds:
                type:
                  - string
                  - "null"
              default_fps:
                type:
                  - number
                  - "null"
              preview_url:
                type:
                  - string
                  - "null"
              preview_generated_at:
                type:
                  - string
                  - "null"
                format: date-time
              dynamic_fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      minLength: 1
                      maxLength: 64
                    type:
                      type: string
                      enum:
                        - text
                        - image_url
                        - video_url
                        - color
                        - visibility
                    element_type:
                      type: string
                      enum:
                        - text
                        - image
                        - video
                        - figure
                        - svg
                    polotno_element_id:
                      type: string
                      minLength: 1
                    required:
                      type: boolean
                    default_value:
                      type:
                        - string
                        - "null"
                    description:
                      type:
                        - string
                        - "null"
                      maxLength: 500
                    constraints:
                      type: object
                      additionalProperties: {}
                  required:
                    - name
                    - type
                    - element_type
                    - polotno_element_id
                  additionalProperties: false
              tags:
                type: array
                items:
                  type: string
              archived:
                type: boolean
              self_url:
                type: string
              created_at:
                type: string
                format: date-time
              updated_at:
                type: string
                format: date-time
            required:
              - id
              - object
              - project_id
              - name
              - description
              - width
              - height
              - has_video
              - default_duration_seconds
              - default_fps
              - preview_url
              - preview_generated_at
              - dynamic_fields
              - tags
              - archived
              - self_url
              - created_at
              - updated_at
        next_cursor:
          type:
            - string
            - "null"
      required:
        - items
        - next_cursor
    Template:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          enum:
            - template
        project_id:
          type: string
        name:
          type: string
        description:
          type:
            - string
            - "null"
        polotno_json: {}
        width:
          type: number
        height:
          type: number
        has_video:
          type: boolean
        default_duration_seconds:
          type:
            - string
            - "null"
        default_fps:
          type:
            - number
            - "null"
        preview_url:
          type:
            - string
            - "null"
        preview_generated_at:
          type:
            - string
            - "null"
          format: date-time
        dynamic_fields:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                minLength: 1
                maxLength: 64
              type:
                type: string
                enum:
                  - text
                  - image_url
                  - video_url
                  - color
                  - visibility
              element_type:
                type: string
                enum:
                  - text
                  - image
                  - video
                  - figure
                  - svg
              polotno_element_id:
                type: string
                minLength: 1
              required:
                type: boolean
              default_value:
                type:
                  - string
                  - "null"
              description:
                type:
                  - string
                  - "null"
                maxLength: 500
              constraints:
                type: object
                additionalProperties: {}
            required:
              - name
              - type
              - element_type
              - polotno_element_id
            additionalProperties: false
        tags:
          type: array
          items:
            type: string
        archived:
          type: boolean
        self_url:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - id
        - object
        - project_id
        - name
        - description
        - width
        - height
        - has_video
        - default_duration_seconds
        - default_fps
        - preview_url
        - preview_generated_at
        - dynamic_fields
        - tags
        - archived
        - self_url
        - created_at
        - updated_at
    DynamicFields:
      type: object
      properties:
        fields:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
                description: "Flat key: fields__{name}__{type}"
              label:
                type: string
              type:
                type: string
                enum:
                  - string
                  - url
                  - integer
                  - color
                  - boolean
              required:
                type: boolean
              help_text:
                type: string
              default:
                anyOf:
                  - type: string
                  - type: number
                  - type: boolean
            required:
              - key
              - label
              - type
              - required
      required:
        - fields
    Image:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          enum:
            - image
        status:
          type: string
          enum:
            - pending
            - processing
            - completed
            - failed
            - partial
        template_id:
          type: string
        project_id:
          type: string
        dynamic_fields: {}
        format:
          type: string
        transparent:
          type: boolean
        pixel_ratio:
          type: string
        render_jpeg:
          type: boolean
        render_pdf:
          type: boolean
        width:
          type: number
        height:
          type: number
        image_url:
          type:
            - string
            - "null"
        image_url_jpg:
          type:
            - string
            - "null"
        pdf_url:
          type:
            - string
            - "null"
        webhook_url:
          type:
            - string
            - "null"
        metadata: {}
        error: {}
        cost_credits:
          type: number
        estimated_cost_credits:
          type: number
        credits_charged:
          type: boolean
        mode:
          type: string
          enum:
            - live
            - test
        render_duration_ms:
          type:
            - number
            - "null"
        self_url:
          type:
            - string
            - "null"
        created_at:
          type: string
          format: date-time
        submitted_at:
          type:
            - string
            - "null"
          format: date-time
        completed_at:
          type:
            - string
            - "null"
          format: date-time
        expires_at:
          type: string
          format: date-time
      required:
        - id
        - object
        - status
        - template_id
        - project_id
        - format
        - transparent
        - pixel_ratio
        - render_jpeg
        - render_pdf
        - width
        - height
        - image_url
        - image_url_jpg
        - pdf_url
        - webhook_url
        - cost_credits
        - estimated_cost_credits
        - credits_charged
        - mode
        - render_duration_ms
        - self_url
        - created_at
        - submitted_at
        - completed_at
        - expires_at
    ImageCreate:
      type: object
      properties:
        template_id:
          type: string
          pattern: ^tpl_
        dynamic_fields:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                minLength: 1
                maxLength: 64
              text:
                type: string
                maxLength: 10000
              image_url:
                type: string
                maxLength: 2048
                format: uri
              video_url:
                type: string
                maxLength: 2048
                format: uri
              color:
                type: string
                maxLength: 64
              font_family:
                type: string
                maxLength: 200
              font_size:
                type: number
                exclusiveMinimum: 0
                maximum: 2000
              visible:
                type: boolean
            required:
              - name
            additionalProperties: false
          default: []
        format:
          type: string
          enum:
            - png
            - jpeg
            - pdf
          default: png
        transparent:
          type: boolean
          default: false
        pixel_ratio:
          type: number
          exclusiveMinimum: 0
          maximum: 10
          default: 1
        render_jpeg:
          type: boolean
          default: false
        render_pdf:
          type: boolean
          default: false
        webhook_url:
          type: string
          maxLength: 2048
          format: uri
        metadata:
          type: object
          additionalProperties: {}
          default: {}
      required:
        - template_id
      additionalProperties: false
    ImageList:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              object:
                type: string
                enum:
                  - image
              status:
                type: string
                enum:
                  - pending
                  - processing
                  - completed
                  - failed
                  - partial
              template_id:
                type: string
              project_id:
                type: string
              dynamic_fields: {}
              format:
                type: string
              transparent:
                type: boolean
              pixel_ratio:
                type: string
              render_jpeg:
                type: boolean
              render_pdf:
                type: boolean
              width:
                type: number
              height:
                type: number
              image_url:
                type:
                  - string
                  - "null"
              image_url_jpg:
                type:
                  - string
                  - "null"
              pdf_url:
                type:
                  - string
                  - "null"
              webhook_url:
                type:
                  - string
                  - "null"
              metadata: {}
              error: {}
              cost_credits:
                type: number
              estimated_cost_credits:
                type: number
              credits_charged:
                type: boolean
              mode:
                type: string
                enum:
                  - live
                  - test
              render_duration_ms:
                type:
                  - number
                  - "null"
              self_url:
                type:
                  - string
                  - "null"
              created_at:
                type: string
                format: date-time
              submitted_at:
                type:
                  - string
                  - "null"
                format: date-time
              completed_at:
                type:
                  - string
                  - "null"
                format: date-time
              expires_at:
                type: string
                format: date-time
            required:
              - id
              - object
              - status
              - template_id
              - project_id
              - format
              - transparent
              - pixel_ratio
              - render_jpeg
              - render_pdf
              - width
              - height
              - image_url
              - image_url_jpg
              - pdf_url
              - webhook_url
              - cost_credits
              - estimated_cost_credits
              - credits_charged
              - mode
              - render_duration_ms
              - self_url
              - created_at
              - submitted_at
              - completed_at
              - expires_at
        next_cursor:
          type:
            - string
            - "null"
        has_more:
          type: boolean
      required:
        - items
        - next_cursor
        - has_more
    Video:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          enum:
            - video
        status:
          type: string
          enum:
            - pending
            - processing
            - completed
            - failed
            - partial
        template_id:
          type: string
        project_id:
          type: string
        dynamic_fields: {}
        format:
          type: string
        fps:
          type: number
        duration_seconds:
          type: string
        actual_duration_seconds:
          type:
            - string
            - "null"
        width:
          type: number
        height:
          type: number
        video_url:
          type:
            - string
            - "null"
        thumbnail_url:
          type:
            - string
            - "null"
        file_size_bytes:
          type:
            - number
            - "null"
        webhook_url:
          type:
            - string
            - "null"
        metadata: {}
        error: {}
        cost_credits:
          type: number
        estimated_cost_credits:
          type: number
        credits_charged:
          type: boolean
        mode:
          type: string
          enum:
            - live
            - test
        render_duration_ms:
          type:
            - number
            - "null"
        self_url:
          type: string
        created_at:
          type: string
          format: date-time
        submitted_at:
          type:
            - string
            - "null"
          format: date-time
        completed_at:
          type:
            - string
            - "null"
          format: date-time
        expires_at:
          type: string
          format: date-time
      required:
        - id
        - object
        - status
        - template_id
        - project_id
        - format
        - fps
        - duration_seconds
        - actual_duration_seconds
        - width
        - height
        - video_url
        - thumbnail_url
        - file_size_bytes
        - webhook_url
        - cost_credits
        - estimated_cost_credits
        - credits_charged
        - mode
        - render_duration_ms
        - self_url
        - created_at
        - submitted_at
        - completed_at
        - expires_at
    VideoCreate:
      type: object
      properties:
        template_id:
          type: string
          pattern: ^tpl_
        dynamic_fields:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                minLength: 1
                maxLength: 64
              text:
                type: string
                maxLength: 10000
              image_url:
                type: string
                maxLength: 2048
                format: uri
              video_url:
                type: string
                maxLength: 2048
                format: uri
              color:
                type: string
                maxLength: 64
              font_family:
                type: string
                maxLength: 200
              font_size:
                type: number
                exclusiveMinimum: 0
                maximum: 2000
              visible:
                type: boolean
            required:
              - name
            additionalProperties: false
          default: []
        format:
          type: string
          enum:
            - mp4
            - gif
          default: mp4
        fps:
          type: integer
          exclusiveMinimum: 0
          maximum: 120
        duration_seconds:
          type: number
          exclusiveMinimum: 0
          maximum: 600
        webhook_url:
          type: string
          maxLength: 2048
          format: uri
        metadata:
          type: object
          additionalProperties: {}
          default: {}
      required:
        - template_id
      additionalProperties: false
    VideoList:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              object:
                type: string
                enum:
                  - video
              status:
                type: string
                enum:
                  - pending
                  - processing
                  - completed
                  - failed
                  - partial
              template_id:
                type: string
              project_id:
                type: string
              dynamic_fields: {}
              format:
                type: string
              fps:
                type: number
              duration_seconds:
                type: string
              actual_duration_seconds:
                type:
                  - string
                  - "null"
              width:
                type: number
              height:
                type: number
              video_url:
                type:
                  - string
                  - "null"
              thumbnail_url:
                type:
                  - string
                  - "null"
              file_size_bytes:
                type:
                  - number
                  - "null"
              webhook_url:
                type:
                  - string
                  - "null"
              metadata: {}
              error: {}
              cost_credits:
                type: number
              estimated_cost_credits:
                type: number
              credits_charged:
                type: boolean
              mode:
                type: string
                enum:
                  - live
                  - test
              render_duration_ms:
                type:
                  - number
                  - "null"
              self_url:
                type: string
              created_at:
                type: string
                format: date-time
              submitted_at:
                type:
                  - string
                  - "null"
                format: date-time
              completed_at:
                type:
                  - string
                  - "null"
                format: date-time
              expires_at:
                type: string
                format: date-time
            required:
              - id
              - object
              - status
              - template_id
              - project_id
              - format
              - fps
              - duration_seconds
              - actual_duration_seconds
              - width
              - height
              - video_url
              - thumbnail_url
              - file_size_bytes
              - webhook_url
              - cost_credits
              - estimated_cost_credits
              - credits_charged
              - mode
              - render_duration_ms
              - self_url
              - created_at
              - submitted_at
              - completed_at
              - expires_at
        next_cursor:
          type:
            - string
            - "null"
        has_more:
          type: boolean
      required:
        - items
        - next_cursor
        - has_more
    BulkJob:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          enum:
            - bulk_job
        status:
          type: string
          enum:
            - pending
            - processing
            - completed
            - failed
            - partial
        template_id:
          type: string
        project_id:
          type: string
        total:
          type: number
        completed:
          type: number
        failed:
          type: number
        format:
          type: string
        pixel_ratio:
          type: string
        estimated_cost_credits:
          type: number
        results_url:
          type:
            - string
            - "null"
        webhook_url:
          type:
            - string
            - "null"
        metadata: {}
        self_url:
          type: string
        items_url:
          type: string
        created_at:
          type: string
          format: date-time
        started_at:
          type:
            - string
            - "null"
          format: date-time
        completed_at:
          type:
            - string
            - "null"
          format: date-time
      required:
        - id
        - object
        - status
        - template_id
        - project_id
        - total
        - completed
        - failed
        - format
        - pixel_ratio
        - estimated_cost_credits
        - results_url
        - webhook_url
        - self_url
        - items_url
        - created_at
        - started_at
        - completed_at
    BulkImageCreate:
      type: object
      properties:
        template_id:
          type: string
          pattern: ^tpl_
        items:
          type: array
          items:
            type: object
            properties:
              dynamic_fields:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      minLength: 1
                      maxLength: 64
                    text:
                      type: string
                      maxLength: 10000
                    image_url:
                      type: string
                      maxLength: 2048
                      format: uri
                    video_url:
                      type: string
                      maxLength: 2048
                      format: uri
                    color:
                      type: string
                      maxLength: 64
                    font_family:
                      type: string
                      maxLength: 200
                    font_size:
                      type: number
                      exclusiveMinimum: 0
                      maximum: 2000
                    visible:
                      type: boolean
                  required:
                    - name
                  additionalProperties: false
                default: []
              metadata:
                type: object
                additionalProperties: {}
                default: {}
            additionalProperties: false
          minItems: 1
          maxItems: 1000
        format:
          type: string
          enum:
            - png
            - jpeg
            - pdf
          default: png
        pixel_ratio:
          type: number
          exclusiveMinimum: 0
          maximum: 10
          default: 1
        webhook_url:
          type: string
          maxLength: 2048
          format: uri
        metadata:
          type: object
          additionalProperties: {}
          default: {}
      required:
        - template_id
        - items
      additionalProperties: false
    BulkJobList:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              object:
                type: string
                enum:
                  - bulk_job
              status:
                type: string
                enum:
                  - pending
                  - processing
                  - completed
                  - failed
                  - partial
              template_id:
                type: string
              project_id:
                type: string
              total:
                type: number
              completed:
                type: number
              failed:
                type: number
              format:
                type: string
              pixel_ratio:
                type: string
              estimated_cost_credits:
                type: number
              results_url:
                type:
                  - string
                  - "null"
              webhook_url:
                type:
                  - string
                  - "null"
              metadata: {}
              self_url:
                type: string
              items_url:
                type: string
              created_at:
                type: string
                format: date-time
              started_at:
                type:
                  - string
                  - "null"
                format: date-time
              completed_at:
                type:
                  - string
                  - "null"
                format: date-time
            required:
              - id
              - object
              - status
              - template_id
              - project_id
              - total
              - completed
              - failed
              - format
              - pixel_ratio
              - estimated_cost_credits
              - results_url
              - webhook_url
              - self_url
              - items_url
              - created_at
              - started_at
              - completed_at
        next_cursor:
          type:
            - string
            - "null"
        has_more:
          type: boolean
      required:
        - items
        - next_cursor
        - has_more
    BulkJobItemList:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              bulk_job_id:
                type: string
              status:
                type: string
                enum:
                  - pending
                  - processing
                  - completed
                  - failed
                  - partial
              dynamic_fields: {}
              image_url:
                type:
                  - string
                  - "null"
              image_url_jpg:
                type:
                  - string
                  - "null"
              pdf_url:
                type:
                  - string
                  - "null"
              metadata: {}
              error: {}
              created_at:
                type: string
                format: date-time
              completed_at:
                type:
                  - string
                  - "null"
                format: date-time
            required:
              - id
              - bulk_job_id
              - status
              - image_url
              - image_url_jpg
              - pdf_url
              - created_at
              - completed_at
        next_cursor:
          type:
            - string
            - "null"
        has_more:
          type: boolean
      required:
        - items
        - next_cursor
        - has_more
    WebhookCreated:
      type: object
      properties:
        id:
          type: string
        project_id:
          type: string
        url:
          type: string
        events:
          type: array
          items:
            type: string
            enum:
              - image.completed
              - image.failed
              - video.completed
              - video.failed
              - bulk_job.completed
              - bulk_job.item.completed
              - template.created
              - template.updated
        description:
          type:
            - string
            - "null"
        active:
          type: boolean
        last_delivery_at:
          type:
            - string
            - "null"
          format: date-time
        last_delivery_status:
          type:
            - number
            - "null"
        consecutive_failures:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        secret:
          type: string
      required:
        - id
        - project_id
        - url
        - events
        - description
        - active
        - last_delivery_at
        - last_delivery_status
        - consecutive_failures
        - created_at
        - updated_at
        - secret
    WebhookCreate:
      type: object
      properties:
        url:
          type: string
          maxLength: 2048
          format: uri
        events:
          type: array
          items:
            type: string
            enum:
              - image.completed
              - image.failed
              - video.completed
              - video.failed
              - bulk_job.completed
              - bulk_job.item.completed
              - template.created
              - template.updated
          minItems: 1
        description:
          type: string
          maxLength: 500
      required:
        - url
        - events
      additionalProperties: false
    WebhookList:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              project_id:
                type: string
              url:
                type: string
              events:
                type: array
                items:
                  type: string
                  enum:
                    - image.completed
                    - image.failed
                    - video.completed
                    - video.failed
                    - bulk_job.completed
                    - bulk_job.item.completed
                    - template.created
                    - template.updated
              description:
                type:
                  - string
                  - "null"
              active:
                type: boolean
              last_delivery_at:
                type:
                  - string
                  - "null"
                format: date-time
              last_delivery_status:
                type:
                  - number
                  - "null"
              consecutive_failures:
                type: number
              created_at:
                type: string
                format: date-time
              updated_at:
                type: string
                format: date-time
            required:
              - id
              - project_id
              - url
              - events
              - description
              - active
              - last_delivery_at
              - last_delivery_status
              - consecutive_failures
              - created_at
              - updated_at
        next_cursor:
          type:
            - string
            - "null"
      required:
        - items
        - next_cursor
    Webhook:
      type: object
      properties:
        id:
          type: string
        project_id:
          type: string
        url:
          type: string
        events:
          type: array
          items:
            type: string
            enum:
              - image.completed
              - image.failed
              - video.completed
              - video.failed
              - bulk_job.completed
              - bulk_job.item.completed
              - template.created
              - template.updated
        description:
          type:
            - string
            - "null"
        active:
          type: boolean
        last_delivery_at:
          type:
            - string
            - "null"
          format: date-time
        last_delivery_status:
          type:
            - number
            - "null"
        consecutive_failures:
          type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - id
        - project_id
        - url
        - events
        - description
        - active
        - last_delivery_at
        - last_delivery_status
        - consecutive_failures
        - created_at
        - updated_at
    WebhookUpdate:
      type: object
      properties:
        url:
          type: string
          maxLength: 2048
          format: uri
        events:
          type: array
          items:
            type: string
            enum:
              - image.completed
              - image.failed
              - video.completed
              - video.failed
              - bulk_job.completed
              - bulk_job.item.completed
              - template.created
              - template.updated
          minItems: 1
        description:
          type:
            - string
            - "null"
          maxLength: 500
        active:
          type: boolean
      additionalProperties: false
    WebhookTestResult:
      type: object
      properties:
        delivery:
          type: object
          properties:
            id:
              type: string
            webhook_id:
              type:
                - string
                - "null"
            target_url:
              type:
                - string
                - "null"
            event_id:
              type: string
            event_type:
              type: string
              enum:
                - image.completed
                - image.failed
                - video.completed
                - video.failed
                - bulk_job.completed
                - bulk_job.item.completed
                - template.created
                - template.updated
            payload: {}
            attempt:
              type: number
            status:
              type: string
              enum:
                - pending
                - processing
                - success
                - failed
                - dead_letter
            status_code:
              type:
                - number
                - "null"
            response_body:
              type:
                - string
                - "null"
            response_headers:
              type:
                - object
                - "null"
              additionalProperties:
                type: string
            error_message:
              type:
                - string
                - "null"
            duration_ms:
              type:
                - number
                - "null"
            created_at:
              type: string
              format: date-time
            delivered_at:
              type:
                - string
                - "null"
              format: date-time
            next_retry_at:
              type:
                - string
                - "null"
              format: date-time
          required:
            - id
            - webhook_id
            - target_url
            - event_id
            - event_type
            - attempt
            - status
            - status_code
            - response_body
            - response_headers
            - error_message
            - duration_ms
            - created_at
            - delivered_at
            - next_retry_at
        status:
          type: string
          enum:
            - success
            - failed
        status_code:
          type:
            - number
            - "null"
      required:
        - delivery
        - status
        - status_code
    WebhookTestBody:
      type: object
      properties:
        event_type:
          type: string
          enum:
            - image.completed
            - image.failed
            - video.completed
            - video.failed
            - bulk_job.completed
            - bulk_job.item.completed
            - template.created
            - template.updated
      required:
        - event_type
      additionalProperties: false
    DeliveryList:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              webhook_id:
                type:
                  - string
                  - "null"
              target_url:
                type:
                  - string
                  - "null"
              event_id:
                type: string
              event_type:
                type: string
                enum:
                  - image.completed
                  - image.failed
                  - video.completed
                  - video.failed
                  - bulk_job.completed
                  - bulk_job.item.completed
                  - template.created
                  - template.updated
              payload: {}
              attempt:
                type: number
              status:
                type: string
                enum:
                  - pending
                  - processing
                  - success
                  - failed
                  - dead_letter
              status_code:
                type:
                  - number
                  - "null"
              response_body:
                type:
                  - string
                  - "null"
              response_headers:
                type:
                  - object
                  - "null"
                additionalProperties:
                  type: string
              error_message:
                type:
                  - string
                  - "null"
              duration_ms:
                type:
                  - number
                  - "null"
              created_at:
                type: string
                format: date-time
              delivered_at:
                type:
                  - string
                  - "null"
                format: date-time
              next_retry_at:
                type:
                  - string
                  - "null"
                format: date-time
            required:
              - id
              - webhook_id
              - target_url
              - event_id
              - event_type
              - attempt
              - status
              - status_code
              - response_body
              - response_headers
              - error_message
              - duration_ms
              - created_at
              - delivered_at
              - next_retry_at
        next_cursor:
          type:
            - string
            - "null"
      required:
        - items
        - next_cursor
    Delivery:
      type: object
      properties:
        id:
          type: string
        webhook_id:
          type:
            - string
            - "null"
        target_url:
          type:
            - string
            - "null"
        event_id:
          type: string
        event_type:
          type: string
          enum:
            - image.completed
            - image.failed
            - video.completed
            - video.failed
            - bulk_job.completed
            - bulk_job.item.completed
            - template.created
            - template.updated
        payload: {}
        attempt:
          type: number
        status:
          type: string
          enum:
            - pending
            - processing
            - success
            - failed
            - dead_letter
        status_code:
          type:
            - number
            - "null"
        response_body:
          type:
            - string
            - "null"
        response_headers:
          type:
            - object
            - "null"
          additionalProperties:
            type: string
        error_message:
          type:
            - string
            - "null"
        duration_ms:
          type:
            - number
            - "null"
        created_at:
          type: string
          format: date-time
        delivered_at:
          type:
            - string
            - "null"
          format: date-time
        next_retry_at:
          type:
            - string
            - "null"
          format: date-time
      required:
        - id
        - webhook_id
        - target_url
        - event_id
        - event_type
        - attempt
        - status
        - status_code
        - response_body
        - response_headers
        - error_message
        - duration_ms
        - created_at
        - delivered_at
        - next_retry_at
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: "API key passed as `Authorization: Bearer key_live_...` or
        `key_test_...`"
    ApiKeyHeader:
      type: apiKey
      in: header
      name: X-API-Key
      description: Alternative to Bearer auth — pass the API key in `X-API-Key`
  responses:
    BadRequest:
      description: Malformed request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Conflict:
      description: Idempotency conflict or duplicate resource
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    RateLimited:
      description: Rate limit exceeded — see Retry-After header
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds until retry
        X-RateLimit-Limit:
          schema:
            type: integer
        X-RateLimit-Remaining:
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    ValidationError:
      description: Validation failed
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
  parameters: {}
paths:
  /health:
    get:
      operationId: health
      tags:
        - Integration
      summary: Liveness + DB connectivity probe
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Health"
  /v1/templates:
    get:
      operationId: listTemplates
      tags:
        - Templates
      summary: List templates in the authenticated project
      parameters:
        - schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
          required: false
          name: limit
          in: query
        - schema:
            type: string
          required: false
          name: cursor
          in: query
        - schema:
            type: string
            minLength: 1
            maxLength: 200
          required: false
          name: name
          in: query
        - schema:
            type: string
          required: false
          name: tag
          in: query
        - schema:
            type:
              - boolean
              - "null"
          required: false
          name: archived
          in: query
        - schema:
            type: string
            format: date-time
          required: false
          name: created_after
          in: query
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TemplateList"
        "400": &a1
          $ref: "#/components/responses/BadRequest"
        "401": &a2
          $ref: "#/components/responses/Unauthorized"
        "404": &a3
          $ref: "#/components/responses/NotFound"
        "409": &a4
          $ref: "#/components/responses/Conflict"
        "422": &a5
          $ref: "#/components/responses/ValidationError"
        "429": &a6
          $ref: "#/components/responses/RateLimited"
  /v1/templates/{id}:
    get:
      operationId: getTemplate
      tags:
        - Templates
      parameters:
        - schema:
            type: string
            pattern: ^tpl_
          required: true
          name: id
          in: path
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Template"
        "400": *a1
        "401": *a2
        "404": *a3
        "409": *a4
        "422": *a5
        "429": *a6
  /v1/templates/{id}/dynamic-fields:
    get:
      operationId: getTemplateDynamicFields
      tags:
        - Templates
        - Integration
      summary: Flat field list for Zapier/Make/n8n integrations
      description: Returns one field per dynamic field with the flat key format
        `fields__{name}__{type}`.
      parameters:
        - schema:
            type: string
            pattern: ^tpl_
          required: true
          name: id
          in: path
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DynamicFields"
        "400": *a1
        "401": *a2
        "404": *a3
        "409": *a4
        "422": *a5
        "429": *a6
  /v1/images:
    post:
      operationId: createImage
      tags:
        - Images
      summary: Create an image render
      description: Async by default (returns 202). Pass `?sync=true` to wait up to 30s
        for the render to complete.
      parameters:
        - schema:
            type:
              - boolean
              - "null"
            default: false
          required: false
          name: sync
          in: query
        - schema:
            type: string
          required: false
          name: Idempotency-Key
          in: header
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImageCreate"
      responses:
        "201":
          description: Sync completion (only when `?sync=true` and render finishes within
            30s)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Image"
        "202":
          description: Async — render queued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Image"
        "400": *a1
        "401": *a2
        "404": *a3
        "409": *a4
        "422": *a5
        "429": *a6
    get:
      operationId: listImages
      tags:
        - Images
      parameters:
        - schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
          required: false
          name: limit
          in: query
        - schema:
            type: string
          required: false
          name: cursor
          in: query
        - schema:
            type: string
            pattern: ^tpl_
          required: false
          name: template_id
          in: query
        - schema:
            type: string
            enum:
              - pending
              - processing
              - completed
              - failed
              - partial
          required: false
          name: status
          in: query
        - schema:
            type: string
            format: date-time
          required: false
          name: created_after
          in: query
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageList"
        "400": *a1
        "401": *a2
        "404": *a3
        "409": *a4
        "422": *a5
        "429": *a6
  /v1/images/{id}:
    get:
      operationId: getImage
      tags:
        - Images
      parameters:
        - schema:
            type: string
            pattern: ^img_
          required: true
          name: id
          in: path
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Image"
        "400": *a1
        "401": *a2
        "404": *a3
        "409": *a4
        "422": *a5
        "429": *a6
    delete:
      operationId: deleteImage
      tags:
        - Images
      parameters:
        - schema:
            type: string
            pattern: ^img_
          required: true
          name: id
          in: path
      responses:
        "204":
          description: Deleted
        "400": *a1
        "401": *a2
        "404": *a3
        "409": *a4
        "422": *a5
        "429": *a6
  /v1/videos:
    post:
      operationId: createVideo
      tags:
        - Videos
      summary: Create a video render
      description: Cost = `fps × duration_seconds` credits. Async only — completion
        delivered via webhook subscription.
      parameters:
        - schema:
            type: string
          required: false
          name: Idempotency-Key
          in: header
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VideoCreate"
      responses:
        "202":
          description: Render queued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Video"
        "400": *a1
        "401": *a2
        "404": *a3
        "409": *a4
        "422": *a5
        "429": *a6
    get:
      operationId: listVideos
      tags:
        - Videos
      parameters:
        - schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
          required: false
          name: limit
          in: query
        - schema:
            type: string
          required: false
          name: cursor
          in: query
        - schema:
            type: string
            pattern: ^tpl_
          required: false
          name: template_id
          in: query
        - schema:
            type: string
            enum:
              - pending
              - processing
              - completed
              - failed
              - partial
          required: false
          name: status
          in: query
        - schema:
            type: string
            format: date-time
          required: false
          name: created_after
          in: query
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoList"
        "400": *a1
        "401": *a2
        "404": *a3
        "409": *a4
        "422": *a5
        "429": *a6
  /v1/videos/{id}:
    get:
      operationId: getVideo
      tags:
        - Videos
      parameters:
        - schema:
            type: string
            pattern: ^vid_
          required: true
          name: id
          in: path
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Video"
        "400": *a1
        "401": *a2
        "404": *a3
        "409": *a4
        "422": *a5
        "429": *a6
    delete:
      operationId: deleteVideo
      tags:
        - Videos
      parameters:
        - schema:
            type: string
            pattern: ^vid_
          required: true
          name: id
          in: path
      responses:
        "204":
          description: Deleted
        "400": *a1
        "401": *a2
        "404": *a3
        "409": *a4
        "422": *a5
        "429": *a6
  /v1/bulk:
    post:
      operationId: createBulkImages
      tags:
        - Bulk
      summary: Create a bulk image render job (1-1000 items)
      parameters:
        - schema:
            type: string
          required: false
          name: Idempotency-Key
          in: header
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BulkImageCreate"
      responses:
        "202":
          description: Bulk job queued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkJob"
        "400": *a1
        "401": *a2
        "404": *a3
        "409": *a4
        "422": *a5
        "429": *a6
    get:
      operationId: listBulkJobs
      tags:
        - Bulk
      parameters:
        - schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
          required: false
          name: limit
          in: query
        - schema:
            type: string
          required: false
          name: cursor
          in: query
        - schema:
            type: string
            enum:
              - pending
              - processing
              - completed
              - failed
              - partial
          required: false
          name: status
          in: query
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkJobList"
        "400": *a1
        "401": *a2
        "404": *a3
        "409": *a4
        "422": *a5
        "429": *a6
  /v1/bulk/{bulk_job_id}:
    get:
      operationId: getBulkJob
      tags:
        - Bulk
      parameters:
        - schema:
            type: string
            pattern: ^bulk_
          required: true
          name: bulk_job_id
          in: path
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkJob"
        "400": *a1
        "401": *a2
        "404": *a3
        "409": *a4
        "422": *a5
        "429": *a6
  /v1/bulk/{bulk_job_id}/items:
    get:
      operationId: listBulkJobItems
      tags:
        - Bulk
      parameters:
        - schema:
            type: string
            pattern: ^bulk_
          required: true
          name: bulk_job_id
          in: path
        - schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
          required: false
          name: limit
          in: query
        - schema:
            type: string
          required: false
          name: cursor
          in: query
        - schema:
            type: string
            enum:
              - pending
              - processing
              - completed
              - failed
              - partial
          required: false
          name: status
          in: query
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkJobItemList"
        "400": *a1
        "401": *a2
        "404": *a3
        "409": *a4
        "422": *a5
        "429": *a6
  /v1/webhooks:
    post:
      operationId: createWebhook
      tags:
        - Webhooks
      summary: Subscribe to events
      description: Response includes a one-time `secret` used for HMAC signature
        verification.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookCreate"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookCreated"
        "400": *a1
        "401": *a2
        "404": *a3
        "409": *a4
        "422": *a5
        "429": *a6
    get:
      operationId: listWebhooks
      tags:
        - Webhooks
      parameters:
        - schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
          required: false
          name: limit
          in: query
        - schema:
            type: string
          required: false
          name: cursor
          in: query
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookList"
        "400": *a1
        "401": *a2
        "404": *a3
        "409": *a4
        "422": *a5
        "429": *a6
  /v1/webhooks/{id}:
    get:
      operationId: getWebhook
      tags:
        - Webhooks
      parameters:
        - schema:
            type: string
            pattern: ^whk_
          required: true
          name: id
          in: path
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
        "400": *a1
        "401": *a2
        "404": *a3
        "409": *a4
        "422": *a5
        "429": *a6
    patch:
      operationId: updateWebhook
      tags:
        - Webhooks
      parameters:
        - schema:
            type: string
            pattern: ^whk_
          required: true
          name: id
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookUpdate"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
        "400": *a1
        "401": *a2
        "404": *a3
        "409": *a4
        "422": *a5
        "429": *a6
    delete:
      operationId: deleteWebhook
      tags:
        - Webhooks
      parameters:
        - schema:
            type: string
            pattern: ^whk_
          required: true
          name: id
          in: path
      responses:
        "204":
          description: Deleted
        "400": *a1
        "401": *a2
        "404": *a3
        "409": *a4
        "422": *a5
        "429": *a6
  /v1/webhooks/{id}/test:
    post:
      operationId: testWebhook
      tags:
        - Webhooks
      summary: Fire a synthetic event to verify the receiver
      parameters:
        - schema:
            type: string
            pattern: ^whk_
          required: true
          name: id
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookTestBody"
      responses:
        "200":
          description: Synthetic delivery completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookTestResult"
        "400": *a1
        "401": *a2
        "404": *a3
        "409": *a4
        "422": *a5
        "429": *a6
  /v1/webhooks/{id}/deliveries:
    get:
      operationId: listWebhookDeliveries
      tags:
        - Webhooks
      parameters:
        - schema:
            type: string
            pattern: ^whk_
          required: true
          name: id
          in: path
        - schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
          required: false
          name: limit
          in: query
        - schema:
            type: string
          required: false
          name: cursor
          in: query
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeliveryList"
        "400": *a1
        "401": *a2
        "404": *a3
        "409": *a4
        "422": *a5
        "429": *a6
  /v1/webhooks/{id}/deliveries/{deliveryId}/retry:
    post:
      operationId: retryWebhookDelivery
      tags:
        - Webhooks
      parameters:
        - schema:
            type: string
            pattern: ^whk_
          required: true
          name: id
          in: path
        - schema:
            type: string
            pattern: ^whd_
          required: true
          name: deliveryId
          in: path
      responses:
        "202":
          description: Retry scheduled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Delivery"
        "400": *a1
        "401": *a2
        "404": *a3
        "409": *a4
        "422": *a5
        "429": *a6
webhooks: {}
